<div class="jumbotron welcome">
  <div class="container">
    <h1 class="display-3 jumbo-title">Relish News Reader</h1>
    <p class="lead jumbo-lead">
      The easiest way to read the news you care about.<br>
      Sign up to customize your headlines.
    </p>
  </div>
</div>
