<div class="text-view-content">
  <div class="row text-view-title">
    <%= raw(@title) %>
  </div>
  <div class="row text-view-text"
    <%= raw(@text) %>
  </div>
  <div class="row text-view-footer">
    <%= link_to "Read Original Article", @url, target: :_blank %>
  </div>
</div>
