<% @favorites.each do |favorite| %>
  <table class="table table-sm table-hover">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col"><%= favorite[:topic].name %></th>
      </tr>
    </thead>
    <tbody>
      <% favorite[:topic_articles].each do |article| %>
        <tr>
          <td><small><%= link_to "#{article['title']} - #{article['source']['name']}", article['url'], target: :_blank %></small></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
