/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // content holder

 .content {
  margin: 10px 5px;
  .btn{
    font-family: 'Cutive Mono', monospace;
  }
 }

// forms

.form-inline > * {
   margin:5px 3px;
}

.user-form {
  font-family: 'Cutive Mono', monospace;
  margin-top: 5px;
  margin-bottom: 5px;
}

// button blocks

.btn-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbo-title {
  font-family: 'Cutive Mono', monospace;
}

.jumbo-lead {
  font-family: 'Roboto', sans-serif;
}

// header (navbar)
 .navbar {
  .border: 2px solid black;
  font-family: 'Cutive Mono', monospace;
 }

.logo {
  img {
    margin-right: 5px;
    max-width: 50px;
  }
}

.dropdown-menu{
    max-height: 425px;
    overflow-y: auto;
}

.dropdownTopicButton {
  margin-bottom: -12px;
}

// footer

.footer-text{
  border-top: 2px black;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}

// headline formatting

.headline {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.headline-text {
  color: white;
  font-family: 'Cutive Mono', monospace;
}

// news article cards

.topic-text {
  font-family: 'Cutive Mono', monospace;
}

.card-group-title {
  font-family: 'Cutive Mono', monospace;
  display: inline;
  margin: 15px auto;
}

.card-header {
  font-family: 'Cutive Mono', monospace;
  height: 30px;
  line-height: 4px;
}

.card {
  box-shadow: 4px 4px 4px gray;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.card-title a{
  color: black;
}

.save-to-favorites-button {
  margin-bottom: -12px;
}

.existing-favorite-text {
  bottom: 0;
  margin-left: 15px;
  padding-top: 7px;
}

// display mode

.display-mode-text {
  font-family: 'Cutive Mono', monospace;
  margin-top: -15px;
  margin-left: 5px;
  margin-bottom: 15px;
}

// favorites buttons - move up & down

.relish-fav-btn-group {
  .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  }
}

// text view

.text-view-content {
  margin: 10px auto 10px 50px;
  max-width: 650px;
}

.text-view-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;

}

.text-view-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5em;
}

.text-view-footer {
  font-family: 'Cutive Mono', monospace;
}


