/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.navbar-text {
  padding-left: 15px;
}

.form-inline > * {
   margin:5px 3px;
}

.dropdown-menu{
    max-height: 425px;
    overflow-y: auto;
}

.btn:disabled, .btn[disabled] {
  background-color: #ffffff;
  color: #ffffff
}

.card {
  box-shadow: 4px 4px 4px gray;
  display: inline-block;
}

.footer-text{
  text-align: center;
}

#dropdownTopicButton {
  margin-bottom: -12px;
}

#relish-fav-btn-group {
  .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  }
}


